<div class="hero-unit">

<h1>Bienvenue chez One Month Rails !</h1>
<p>
	Tu as trouvé la home page de l'
<%= link_to "Open Diplo", "http://open-diplomacy.org" %>

Héhé. 

	 </p>
<p>
<%= link_to "Inscris toi!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
